<%= form_with(model: page, local: true) do |form| %>
  <% if @page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
      <% page.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :page_title %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body, id: :page_body %>
  </div>

  <div class="field">
    <%= form.label :slug %>
    <%= form.text_field :slug, id: :page_slug %>
  </div>

  <div class="field">
    <%= form.label :category %>
    <%= form.text_field :category, id: :page_category %>
  </div>

  <div class="field">
    <%= form.label :views %>
    <%= form.number_field :views, id: :page_views %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
